.integrations {
  &__list {
    display: flex;
  }

  &__item {
    width: calc(25% - 20px);
    margin-right: 30px;
    padding: 20px;

    border: 1px solid $color-grey;

    font-size: 0.875rem;
    line-height: 1.43;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-icon {
    display: block;
    margin-bottom: 45px;
  }

  &__item-img {}
  &__item-title {
    display: inline-block;
    margin-bottom: 4px;

    color: $color-main;
  }

  &__item-text {
    margin-bottom: 10px;
  }

  &__item-link {
    display: inline-block;

    text-decoration: none;

    color: $color-grey--darken;
  }
}
