.section {
  padding: 80px 20px;

  &__inner {
    position: relative;
    z-index: 50;

    display: flex;

    max-width: $screen-xl;
    margin: 0 auto;
  }

  &--column {
    .section__inner {
      flex-direction: column;
    }
  }

  &__title {
    color: $color-white;

    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 30px;

    color: $color-main;

    font-size: 2.25rem;

    &--small {
      margin-bottom: 25px;

      color: initial;

      font-size: 1.5em;
    }
  }

  &__text {
    display: block;
    max-width: 450px;
    margin: 0;
    margin-bottom: 40px;

    line-height: 1.5;

    &--white {
      color: $color-white;
    }

    span {
      padding: 0 5px;

      background: $color-selection;
    }
  }

  &__buttons .button {
    min-width: 235px;
    padding: 15px 25px;

    &:first-child {
      margin-right: 30px;
    }
  }
}
