.section {
  padding: 80px 20px;

  &__inner {
    display: flex;

    max-width: $screen-xl;
    margin: 0 auto;
  }

  &--main {
    position: relative;

    min-height: 100vh;
    padding: 80px 0;

    background: $gradient;

    .section__text {
      color: $color-white;

      font-size: 1.25rem;
      line-height: 1.875rem;
    }

    // &:after {
    //   position: absolute;
    //   bottom: -100px;
    //   left: -10%;
    //   z-index: 5;
    //
    //   display: block;
    //   width: 120%;
    //   height: 250px;
    //   content: "";
    //
    //   transform: rotate(4deg);
    //
    //   background: $color-white;
    // }
  }

  &--white {
    background: $color-white;
  }

  &--grey {
    background: $color-grey;

    .section__inner {
      flex-direction: column;
    }
  }

  &--black {
    background: $color-black;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
  }

  &__title {
    color: $color-white;

    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 30px;

    color: $color-main;

    font-size: 2.25rem;
  }

  &__text {
    display: block;
    max-width: 450px;
    margin: 0;
    margin-bottom: 40px;
  }
}
