.tabs {
  position: relative;
  padding-top: 60px;

  &__item {
    display: inline-block;

    .work-steps {
      display: none;
    }

    &:first-child .tabs__label {
      left: 0;
    }

    &:last-child .tabs__label {
      left: 108px;
    }
  }

  &__label {
    position: absolute;
    top: 0;

    display: inline-block;
    padding: 8px 20px;

    transition: all .4s;

    color: $color-main;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    display: none;

    &:checked + .tabs__label {
      color: $font-color;
      border-radius: 100px;
      box-shadow: 0 1px 2px 0 rgba($color-black, 0.1);
      background: $color-white;
    }

    &:checked ~ .work-steps {
      display: flex;
      align-items: flex-start;
    }
  }
}
