$color-main: #2aa2ff;

$color-white: #fff;
$color-black: #000;
$color-grey: #f6f9fc;
$color-grey--dark: #767e8c;
$color-blue: #6494c9;
$color-violet: #8380d6;
$color-violet--light: #a4add8;
$color-violet--dark: #373352;
$color-pink: #af73c2;

$color-shadow: rgba(0,0,0,0.1);
$color-border: #f0f0f0;

$gradient: linear-gradient(270deg, #3fbcef 0%, #3b77f5 100%);

$font-family: "Open Sans", sans-serif;
$font-size: 16px;
$font-color: #464a5c;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1224px;
$screen-xxl: 1320px;
